// Colours
$colour-background: #264653;
$colour-accent: #2a9d8f;
$colour-accent-button: #f4a261;
$colour-red: #e76f51;

$colour-white: #ffffff;

$colour-button: #e9c46a;
$colour-button-accent: #f4a261;

$button-text-colour: $colour-background;

// Breakpoints
$mobile-width: 576px;
$small-tablet-width: 768px;
$tablet-width: 992px;
$desktop-width: 993px;
$big-desktop-width: 1200px;
